@import 'reset';
@import 'vars';

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    background-color: #fff;
    font-weight: 400;
}
.layout {
    display: grid;
    grid-template-columns: 86px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:  'sidebar header'
                          'sidebar main';
    gap: 68px 0;
    min-height: 100vh;
    transition: 0.1s ease;
    max-width: 1440px;
    margin: 0 auto;
    &:active {
        grid-template-columns: 220px 1fr;
      }          
}
.btn_icon {
    padding: 0;
    background-color: unset;
    border: unset;
    font-size: 26px;
    color: $colorGrayDark;
    transition: 0.1s ease;
    &:hover {
        color: $colorPurpleLight;
    }
}
.header {
    grid-area: header;
    padding-top: 30px;
    &_wrapper {
        height: 80px;
        background-color: #fff;
        margin: 0 25px 0;
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
    &_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        gap: 0.5em;
        width: 100%;
        padding: 0 20px;
    }
    &_item {
        display: flex;
        align-items: center;
        &-first {
            gap: 20px;
        }
        &-second {
            gap: 50px;
        }
    }
    &_lang {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $colorGrayDark;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: 0.1s ease;
        padding-right: 10px;
        &:hover {
            color: $colorPurpleLight;
        }
        svg {
            width: 26px;
            height: 26px;
        }
    }
    .btn_settings {
        display: flex;
        align-items: center;
        gap: 20px;
        .icon-change-theme {
            padding-right: 4px;
        }
    }
    .avatar {
        width: 36px;
        height: 36px;
        &, img {
            border-radius: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.sidebar {
    grid-area: sidebar;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 15px 30px;
    z-index: 0;
    .btn_logo {
        position: relative;
        .logo {
            color: $colorPurpleDark;
            text-decoration: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            transition: 0.1s ease;
            svg {
                width: 32px;
                height: 32px;
            }
            span {
                position: absolute;
                display: block;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.22;
                overflow: hidden;
                width: 0;
                transition: 0.1s ease;
                opacity: 0;
            }
        }
        .sidebar_btn {
            position: absolute;
            font-size: 20px;
            color: $colorPurpleDark;
            transition: 0.1s ease;
            right: -25px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 20px;
            cursor: pointer;
            &:before {
                display: inline-block;
                transition: 0.2s ease;
            }
        }
    }
    &__active {
        .btn_logo {
            .logo {
                justify-content: flex-start;
                span {
                    position: relative;
                    width: 104px;
                    opacity: 1;
                }
            }
            .sidebar_btn {
                right: 0;
                &:before {
                    transform: scale(-1);
                }
            }
        }
    }
}
main {
    grid-area: main;
    background-color: beige;
    background-color: #fff;
  
    img {
      width: 100%;
      height: 676px;
      z-index: 1;
    }
  }