$colorPurpleDark: #392C72;
$colorGrayDark: #4F4F4F;
$colorGrayMiddle: #828282;
$colorGrayLight: #BDBDBD;
$colorPurpleLight: #9E8CFC;
$colorRed: #EA5455;
$colorYellow: #F2C94C;
$colorGreen: #6FCF97;
$colorBlueDark: #283046;
$colorBlueDarken: #161D31;